# Hugo 相关
/public/
/resources/
/.hugo_build.lock

# 依赖包
/node_modules/

# --- Windows 系统文件 ---
Thumbs.db
desktop.ini

# --- Mac 系统文件（防患于未然）---
.DS_Store

# --- 编辑器配置文件（可选）---
.vscode/
.idea/
*.swp
*.swo
